{% extends 'login/header.html' %}

{% block content %}
<!-- DIAGNOSTICS
    request: {{ request }}
    kwargs: {{ kwargs }}-->

  <form method="post">
    {% csrf_token %}

    <div class="jumbotron center-block" align="middle">
      <img src=https://elmordyn.files.wordpress.com/2012/07/20110223084209-beholder.gif>
      <h1 class="display-3">beholder</h1>
      <hr class="my-3">
      <p class="lead">COPYRIGHT 2018 IRWINBROS LLC</p>
      <p>No unauthorized access. Please login below.</p>
      <div class="col">
        <div class="input-group justify-content-center mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">username</span>
              {{ login_form.username }}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group justify-content-center mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">password</span>
              {{ login_form.password }}
          </div>
        </div>
      <button class="btn btn-success mb-2" type="submit">LOGIN</button>
    </div>

    {% if login_error %}

      <div class="container">
        Error! {{ login_error }}
      </div>

    {% endif %}

  </form>

{% endblock %}
