<div class="modal fade" id="{{ item.item_id }}Modal" tabindex="-1" role="dialog"
  aria-labelledby="{{ item.item_id }}Modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="{{ item.product_url }}" target="_blank"><h5 class="text-center"
          title="{{ item.name }}" id="{{ item.item_id }}ModalTitle">
            {{ item.name }}</h5></a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- carousel -->
        {% include 'search/images_carousel.html' %}
        <!-- data points -->
        <div>
          <p>Brand: {{ item.brand_name }} Model: {{ item.model_number }}</p>
          <p>Price: ${{ item.sale_price }} Rating: {{ item.customer_rating }}</p>
          <p>Stock: {{ item.stock }} UPC: {{ item.upc }}</p>
          <p>Category Path: {{ item.category_path }}</p>
          <p>Category Node: {{ item.category_node }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="" method="get">
          <button type="submit" class="btn btn-success">Capture</button>
          <input type="hidden" name="capture" value="{{ item.item_id }}">
          <input type="hidden" name="market" value="{{ market.name }}"></form>
      </div>
    </div>
  </div>
</div>
