{% extends "search/query.html" %}

{% block response %}
  <!-- Tabs -->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">

      {% for market in markets %}

        {% if active == market.name %}

          {% include "search/prev.html" %}

            <a class="nav-item nav-link active" id="nav-{{ market.name }}-tab" data-toggle="tab"
              href="#nav-{{ market.name }}" role="tab" aria-controls="nav-{{ market.name }}"
              aria-selected="true">
              {{ market.name }}</a>

          {% include "search/next.html" %}

        {% elif market.name in marketNames %}

          {% include "search/prev.html" %}

            <a class="nav-item nav-link" id="nav-{{ market.name }}-tab" data-toggle="tab"
              href="#nav-{{ market.name }}" role="tab" aria-controls="nav-{{ market.name }}"
              aria-selected="true">
              {{ market.name }}</a>

          {% include "search/next.html" %}

        {% endif %}

      {% endfor%}

    </div>
  </nav>

  <!-- Tab Panels -->
  <div class="tab-content" id="nav-tabContent">

    {% for market in markets %}

      {% if active == market.name %}
        <div class="tab-pane fade show active" id="nav-{{ market.name }}" role="tabpanel"
          aria-labelledby="nav-{{ market.name }}-tab">
      {% elif market.name in marketNames %}
        <div class="tab-pane fade show" id="nav-{{ market.name }}" role="tabpanel"
          aria-labelledby="nav-{{ market.name }}-tab">
      {% endif %}

          <div class="card-columns">

          <!-- Cards -->
          {% for item in market.items %}

            <div class="card">
              <img class="card-img-top" src="{{ item.medium_image }}" alt="Card image cap"
                data-toggle="modal" data-target="#{{ item.item_id }}Modal">
              <div class="card-body p-3">
                <a href="{{ item.product_url }}" target="_blank"><h5 class="card-title m-0 p-1"
                  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    {{ item.name }}</h5></a>
                <p class="card-text m-0 p-1" style="">
                    ${{ item.sale_price }} {{ item.stock }} rating: {{ item.customer_rating }}
                </p>

              </div>
            </div>
            <!-- Modal -->
            {% include 'search/modal.html' %}
          {% endfor %}

          </div>

        <!-- pagination -->
        {% include 'search/prev.html' %}
        {% include 'search/next.html' %}
      </div>

    {% endfor %}

  </div>

{% endblock %}
