{% extends "login/header.html" %}
{% block content %}

  <h3><a href="{{ item.product_url }}" target="_blank">{{ item.name }}</a></h3>
  <button class="btn btn-outline-primary">List Item</button>
  <img src="{{ item.data.mediumImage }}">

  <p>item_id: {{ item.item_id }}</p>
  <p>market: {{ item.data.market }}

  <p>sale_price: {{ item.data.salePrice }}</p>
  <p>upc: {{ item.data.upc }}</p>
  <p>description: {{ item.data.description }}</p>

  <form action="{% url 'inventory:itemDetails' %}" method="get">
    <input type="hidden" name="get_prices" value="{{ item.item_id }}">

    <p>query string for ebay historical data: </p><input type="text" name="query" value="{{ item.data.prices.query }}">
    <p>add new note: </p><input type="text" name="note">
    <p>Notes:</p>
    <ol>
  {% for note in item.data.notes %}
    <li><p>  {{ note }} </p></li>
  {% endfor %}
    </ol>
    <p> ebay prices:
      <o1>
      {% for price in item.data.prices.prices %}
      <p>{{ price.name }} | ${{ price.sold_for }} | shipping: ${{ price.shipping_cost }} | market: {{ price.market }} | sold_date: {{ price.sold_date }}</p>
      {% endfor %}
    </ol>
    <p>Item Price History: IN A GRAPH! (coming soon?)</p>
    <button type="submit" class="btn btn-success">save</button>
  </form>
{% endblock %}
