{% extends "sourcing/query.html"%}

{% block response %}
  <ul class="nav nav-tabs">
    {% if walmartItems %}
      <li class="nav-item">
        <a class="nav-link" type="button" data-toggle="collapse" data-target="#walmart">walmart</a>
      </li>
    {% endif %}
    {% if ebayItems %}
      <li class="nav-item">
        <a class="nav-link" type="button" data-toggle="collapse" data-target="#ebay">ebay</a>
      </li>
    {% endif %}
    {% if amazonItems %}
      <li class="nav-item">
        <a class="nav-link" type="button" data-toggle="collapse" data-target="#amazon">amazon</a>
      </li>
    {% endif %}
  </ul>

  <div class="collapse" id="walmart">
    <div class="card-columns">
      {% for item in walmartItems %}
        <div class="card">
          <img class="card-img-top" src="{{ item.medium_image }}" alt="Card image cap">
          <div class="card-body">
            <a href="{{ item.product_url }}" target="_blank"><h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</h5></a>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${{ item.sale_price }} {{ item.short_description }}</p>
            <a href="#" class="btn btn-primary btn-sm">Go</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="collapse" id="ebay">
    <div class="card-columns">
      {% for item in ebayItems.searchResult.item %}
        <div class="card">
          <img class="card-img-top" src="{{ item.galleryURL }}" alt="Card image cap">
          <div class="card-body">
            <a href="{{ item.viewItemURL }}" target="_blank"><h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.title }}</h5></a>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${{ item.sellingStatus.currentPrice.value }} + ${{ item.shippingInfo.shippingServiceCost.value }} shipping</p>
            <a href="#" class="btn btn-primary btn-sm">Go</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="collapse" id="amazon">
    <div class="card-columns">
      {% for item in amazonItems.Item %}
        <div class="card">
          <img class="card-img-top" src="{{ item.MediumImage.URL }}" alt="Card image cap">
          <div class="card-body">
            <a href="{{ item.DetailPageURL }}" target="_blank"><h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.ItemAttributes.Title }}</h5></a>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.OfferSummary.LowestNewPrice.FormattedPrice }} new {{ item.OfferSummary.LowestUsedPrice.FormattedPrice }} used</p>
            <a href="#" class="btn btn-primary btn-sm">Go</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
